Start all chats with 🤖

## Tech stack

- React
- Next.js
- TailwindCSS
- TypeScript
- Shadcn/UI
- ollama
- langchain
- three.js
- node-llama-cpp
- fuse.js
- radix-ui

# Misc 
- use npx shadcn@latest add * to add components
- use pnpm install to install dependencies